.container {
   width: 500px;
   height: 450px;
   padding: 30px;
   box-shadow: 0px 0px 3px 0px #ccc;
   border-radius: 20px;
   position: relative;
   span {
      font-weight: 600;
      color: gray;
      inset: 1;
   }
   .description {
      width: 180px;
      inset: 1;
   }
   .image {
      inset: -999;
      position: absolute;
      inset: 0;
   }
}
