.card {
   height: 500px;
   width: 450px;
   padding: 30px;
   box-shadow: 0px 0px 3px 0px #ccc;
   border-radius: 20px;
   .image {
      height: auto;
      width: 100%;
   }
   .colour {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
   }
   .buy {
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
         font-weight: 500;
      }
      button {
         padding: 10px 15px;
         border-radius: 100px;
         background-color: blue;
         color: #fff;
         border: none;
         display: flex;
         align-items: center;
         justify-content: center;
      }
   }
}
